@using ServiceCompany.DbStuff.Models.Enums
@model ChatViewModel

@{
    Layout = "_LayoutServiceCompany";
}

@section Style
{
    <link href="~/css/ServiceCompany.css" rel="stylesheet" />
    <link href="~/css/Styles.css" rel="stylesheet" />
}

@section Script
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/chat.js"></script>
}

<div class="regContainer">
    @foreach (var article in @Model.Articles)
    {
        <div class="article" data-artile-id="@article.Id">
            <h1> @article.Title</h1>
            <div class="article-text">@article.Description</div>
            <div class="like-container">

                <div class="likeUp-count">@article.ThumbsUp</div>
                <img class="thumbUp" src="https://clipground.com/images/agree-disagree-clipart-3.jpg" width="30" height="30" />

                <div class="likeDown-count">@article.ThumbsDown</div>
                <img class="thumbDown" src="https://simlock24.pl/foto/10_31_48_youtube_thumbs_down.png" width="30" height="30" />
            </div>
        </div>
    }
    <div class="chat">
        <input class="user-name" type="hidden" value="@Model.UserNickName" />
        <div class="comments">
            <div class="comment template">
                <span class="user-name">UserName</span>
                <span class="comment-text">Comment</span>
            </div>
        </div>
    </div>
    <div class="comment-container">
        <input class="new-comment" type="text" name="comment" />
        <img class="send-comment" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Иконка_чата_%28ei%29.svg/45px-Иконка_чата_%28ei%29.svg.png" width="45" height="45" />
    </div>
</div>
