@using ServiceCompany.DbStuff.Models.Enums
@using ServiceCompany.Localisations
@model IndexViewModel

@{
    Layout = "_LayoutServiceCompanyIndex";
}

@section Style
{
    <link href="~/css/ServiceCompany.css" rel="stylesheet" />
    <link href="~/css/alerts.css" rel="stylesheet" />
}

@section Script
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
}

<div class="content-container">
    <h2 class="h2">@ServiceCompany.WelcomeStartPage @ServiceCompany.StartPage!</h2>
    <p class="p">@ServiceCompany.StartPageDescribe.</p>
    
    <div class="userstat">
        <ul>
            <li><a href="/ServiceCompany/Index">@ServiceCompany.AllMembers</a></li>
            <li><a href="/ServiceCompany/IndexUsers">@ServiceCompany.Users</a></li>
            <li><a href="/ServiceCompany/IndexAdmins">@ServiceCompany.Managers</a></li>
        </ul>
    </div>
    <div>
        <ul>
            @foreach (var user in Model.Users)
            {
                <li>
                    <div>
                        <span>@user.NickName | @user.MemberRole</span>
                    </div>
                </li>
            }
        </ul>
        <nav>
            <div>
                @Model.JustFact
            </div>
            <div>
                @Model.MathFact
            </div>
        </nav>
        <nav>
            <div>
                Now @Model.WeatherViewModel.TemperatureNow cels
            </div>
        </nav>
    </div>
</div>