@using ServiceCompany.DbStuff.Models.Enums
@using ServiceCompany.Localisations
@model ProfileViewModel

@{
    Layout = "_LayoutServiceCompany";
}

@section Style
{
    <link href="~/css/ServiceCompany.css" rel="stylesheet" />
    <link href="~/css/Styles.css" rel="stylesheet" />
}

@section Script
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
}

<main>
    <div>
        <h2>@ServiceCompany.Profile</h2>
        <form method="post">
            <img class="avatar" src="img.svg" width="80" height="80" alt="@ServiceCompany.Icon">
            <input type="hidden" name="id" value="@Model.Id" />
            <label for="name"> @ServiceCompany.UserFirstName</label>
            @Html.TextBoxFor(x => x.FirstName)
            @Html.ValidationMessageFor(x => x.FirstName)
            <label for="name"> @ServiceCompany.UserLastName</label>
            @Html.TextBoxFor(x => x.LastName)
            @Html.ValidationMessageFor(x => x.LastName)
            <label for="name"> @ServiceCompany.PhoneNumber</label>
            @Html.TextBoxFor(x => x.PhoneNumber)
            @Html.ValidationMessageFor(x => x.PhoneNumber)
            <label for="name"> @ServiceCompany.NickName</label>
            @Html.TextBoxFor(x => x.NickName)
            @Html.ValidationMessageFor(x => x.NickName)
            <label for="name"> @ServiceCompany.Email</label>
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
            <label for="name"> @ServiceCompany.Password</label>
            @Html.TextBoxFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)

            <input type="submit" value="@ServiceCompany.ChangeButton" />
        </form>
        <div class="task-table short-table">
            <div class="short-table"> @ServiceCompany.MyTasks</div>
            <div class="full-table">
                <div class="table-name">@ServiceCompany.MyTasks</div>
                <table border="1">
                    <thead>
                        <tr>
                            @if (Model.CurrentUserTasks.Count > 0)
                            {
                                @foreach (var statusField in Model.CurrentUserTasks
                                .FirstOrDefault().GetType().GetProperties())
                                {
                                    <th>@statusField.Name</th>
                                }
                            }
                            <th>@ServiceCompany.Change</th>
                            <th>@ServiceCompany.Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var status in Model.CurrentUserTasks)
                        {
                            <tr>
                                @foreach (var statusField in Model.CurrentUserTasks.FirstOrDefault().GetType().GetProperties())
                                {
                                    <td> @statusField.GetValue(status)</td>
                                }
                                <td>
                                    <a href="/ServiceCompany/UpdateStatus?statusId=@status.Id">@ServiceCompany.Change</a>
                                </td>
                                <td>
                                    <form action="/ServiceCompany/RemoveStatus" class="remove-form" method="post">
                                        <input type="hidden" name="id" value="@status.Id" />
                                        <button class="admin-panel-button" type="submit">@ServiceCompany.RemoveButton</button>
                                    </form>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <a href="/ServiceCompany/AddStatus">@ServiceCompany.Add</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            @Model.CurrentLocalLang
            @ServiceCompany.SwitchLang 
            <a href="/Auth/SwitchLocalLanguage?localLang=en">English</a>
            <a href="/Auth/SwitchLocalLanguage?localLang=ru">Русский</a>
        </div>
    </div>
</main>
