@using ServiceCompany.Localisations
@model BaseViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
    <link href="~/css/ServiceCompany.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/language.js"></script>

    @await Html.PartialAsync("_AlertPartial")
</head>
<body>
    <main>
        <div class="dropdown">
            <button class="dropbtn">
                <img class="menu" src="icon.jpg" alt="@ServiceCompany.MenuDropButton" id="menuIcon">
            </button>
            <div class="dropdown-content">
                <a class="login" href="/ServiceCompany/Index">@ServiceCompany.StartPageLink</a>
                <a class="login" href="/ServiceCompany/About">@ServiceCompany.AboutUs</a>
                <a class="login" href="/ServiceCompany/Contacts">@ServiceCompany.ContactUs</a>
                <a class="login" href="/ServiceCompany/Chat">@ServiceCompany.Chat</a>
                @if (User?.Identity?.IsAuthenticated == true)
                {
                    <a class="login" href="/ServiceCompany/Profile">@ServiceCompany.Profile</a>
                    <a class="login" href="/Auth/Logout">@ServiceCompany.LogOut</a>
                }
                else
                {
                    <a class="login" href="/Auth/Login">@ServiceCompany.LogIn</a>
                    <a class="reg" href="/Auth/Registration">@ServiceCompany.Registration</a>
                }
                @if (Model.IsAdmin)
                {
                    <a class="alert-source" href="/ServiceCompany/AdminPanel">@ServiceCompany.AdminPanel</a>
                    <a class="alert-source" href="/Alert/AddAlert">@ServiceCompany.AlertsPanel</a>
                }
                @if (Model.IsSuperAdmin)
                {
                    <a class="alert-source" href="/ServiceCompany/AdminPanel">@ServiceCompany.AdminPanel</a>
                    <a class="alert-source" href="/Alert/AddAlert">@ServiceCompany.AlertsPanel</a>
                    <a class="crud-mongo" href="/Jpg/Index">@ServiceCompany.TestMongo</a>
                    <a class="crud-mongo" href="/Info/Index">@ServiceCompany.TeatAPI</a>
                }
            </div>
        </div>
        @RenderBody()
    </main>
    <footer id="blueFooter">
        <div id="footerContainer">
            @if (!User.Identity.IsAuthenticated)
            {
                <div>@ServiceCompany.Languages: <span class="lang">en</span> || <span class="lang">ru</span></div>
            }
            <p>@ServiceCompany.FooterRigtsReserved</p>
        </div>
    </footer>
</body>
</html>
