@using ServiceCompany.DbStuff.Models.Enums
@using ServiceCompany.Localisations
@model LoginViewModel

@{
    Layout = "_LayoutServiceCompany";
}

@section Style
{
    <link href="~/css/ServiceCompany.css" rel="stylesheet" />
    <link href="~/css/Styles.css" rel="stylesheet" />
}

<main>
    <div class="loginContainer">
        <h2>@ServiceCompany.LogIn</h2>
        <form method="post" class="loginForm" action="/Auth/Login">
            <label for="name">@ServiceCompany.Email:</label>
            @Html.TextBoxFor(x => x.Email)

            <label for="password">@ServiceCompany.Password:</label>
            @Html.PasswordFor(x => x.Password)

            <button class="button" type="submit">@ServiceCompany.LogIn</button>

            <a class="reg-ref" href="/Auth/Registration">@ServiceCompany.Registration</a>
        </form>
    </div>
</main>
