@using ServiceCompany.DbStuff.Models.Enums
@using ServiceCompany.Localisations
@model RegistrationViewModel

@{
    Layout = "_LayoutServiceCompany";
}

@section Style
{
    <link href="~/css/ServiceCompany.css" rel="stylesheet" />
    <link href="~/css/Styles.css" rel="stylesheet" />
}

<div class="regContainer">
    <h2>@ServiceCompany.Registration</h2>
    <form method="post">
        <label for="name">@ServiceCompany.Email:</label>
        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x =>x.Email)

        <label for="nickName">@ServiceCompany.NickName (@ServiceCompany.VisibleOnPage):</label>
        @Html.TextBoxFor(x => x.NickName)
        @Html.ValidationMessageFor(x => x.NickName)

        <label for="password">@ServiceCompany.Password:</label>
        @Html.PasswordFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)

        <button class="button" type="submit">@ServiceCompany.Register</button>
    </form>
</div>


